{% extends 'base.html.twig' %}

{% block title %}Files index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/filesstyles.css')}} "> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}


{% block body %}

    {# <header>
    
    <img src ="{{ asset('images/wheoslogo.png')}} " alt ="logowheos">
    <span class="material-symbols-outlined search"> search </span> Search
    <span class="material-symbols-outlined notifications"> notifications </span>
    <span class="material-symbols-outlined profile"> account_circle </span>
    
    </header> #}
    
    <h1>Files index</h1>

    {# <aside>
    <ul>
    <li><span class="material-symbols-outlined"> menu </span></li>
    <li><a href='#home.html'><span class="material-symbols-outlined"> home </span></a></li>
    <li><a href='#user.html'><span class="material-symbols-outlined"> person</span><a></li>
    <li><a href='#chat.html'><span class="material-symbols-outlined chat"> chat </span></a></li>
    <li><a href='#forum.html'><span class="material-symbols-outlined"> forum </span></a></li>
    </ul>
    </aside> #}
    
    <div class="conteneur">

    <table class="table">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Path</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.createdAt ? file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ file.updatedAt ? file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ file.path }}</td>
                <td>
                    <a href="{{ path('app_files_show', {'id': file.id}) }}">show</a>
                    <a href="{{ path('app_files_edit', {'id': file.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button> <a class="addfile" href="{{ path('app_files_new') }}">Create new</a> </button>

    </div>
{# <footer>
    <div class = "menu">
        <a class="left" href = "#accueil.html"> WHEOS </a>
        <a class="elem" href = "#forums.html"> Forums </a>
        <a class="elem" href = "#vide.html"> ----------- </a>
        <a class="elem" href = "#aide.html"> Aide </a>
    </div>

    <div class = "sousmenu">
        <a class="left" href = "#quisommesnous.html"> Qui sommes nous ? </a>
        <a class="contact" href = "#contact.html"> Contact </a>
    </div>
</footer> #}

{% endblock %}