{% extends 'base.html.twig' %}

{% block title %}WHEOS |{{discussions[0].forum}}{% endblock %}
{% block stylesheets %}
    <link href="/wheos/public/css/forum.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="/wheos/public/js/forum.js" defer></script>
{% endblock %}
		
{% block body %}
	<section class="container">
		<div class="row border-bottom my-3 align-items-center">
			<div class="col-1">
				<a href="{{ path('app_forum') }}" class="text-decoration-none text-dark" role="button">
					<i class="fa fa-house" style="font-size:48px;color:blue"></i>
				</a>
			</div>
			<div class="col fs-4 text-start text-uppercase">
				<span class="badge bg-info">
					<a href="{{path('app_forum')}}" class="text-decoration-none">Forum</a>
				</span>
				<span class="badge bg-info">
                    <a href="{{path('forum_subforum',{id:category.id})}}" class="text-decoration-none">{{discussions[0].cName}}</a>
				</span>
				<span class="badge bg-info">
                    <a href="{{path('forum_sujet',{id:category.id, sujet:discussions[0].forum})}}" 
                        class="text-decoration-none">{{discussions[0].titre}}</a>
				</span>  
			</div>
		</div>

		<div class="row align-items-center my-3 ">
			<div class="col-2">
				<img src="logo_forum.jpg" alt="logo_forum" width="100" height="100">
			</div>
			<div class="col-10 fs-2 text-start">
				Forum d'entraide des stagiaires de l'AFPA.<br>
				Bienvenue sur le forum des stagiaires des centres afpa du france.
			</div>
		</div>
		{% if app.user %}
			<div class="p-2 my-2 text-end">
				<button type="button" class="btn btn-dark text-start" data-bs-toggle="collapse" data-bs-target="#frm">Ajouter une réponse
					<i class="bi bi-plus-circle-fill"></i>
				</button>
			</div>
			{# formulaire 
			<div class="row border collapse my-2" id="frm">
				{{ form_start(categoryform) }}
				{{ form_widget(categoryform) }}
				<div class="mb-3">
					<label for="message" class="form-label">Message</label>
					<textarea class="form-control" id="message" name="message" rows="3" required></textarea>
				</div>
				<div class="col-12">
					<button class="btn btn-primary" type="submit">Ajouter</button>
				</div>
				{{ form_end(categoryform) }}
			</div>#}
            {% for message in discussions %}
                <div class="row p-2 border border-primary border-2 rounded-top my-2">
                    <div class="row bg-black text-light">
                        <div class="col">
                            <i class="bi bi-chat-right"></i>
                        </div>
                        <div class="col"> 
                            {{message.dt | date('d/m/Y , H:m')}}
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-2 text-center">
                            <i class="bi bi-person-circle" style="font-size:48px;color:blue"></i><br>
                            {{app.user.getLastName()}}.{{app.user.getFirstName()}}
                        </div>
                        <div class="col align-middle">
                            {{message.message}}
                        </div>
                    </div> 
                </div>
            {% endfor %}
		{% else %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<div class="alert-message">
					<p>Vous devez être connecté pour acceder au discussions</p>
				</div>
			</div>
		{% endif %}
	</section>

{% endblock %}
