{% extends 'base.html.twig' %}

{% block title %}WHEOS |{{category.name}}
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row border-bottom my-3  d-flex align-items-center">
			<div class="col-1">
				<i class="fa fa-house" style="font-size:48px;color:blue"></i>
			</div>
			<div class="col fs-2 text-start text-uppercase">
				Forum
			</div>
		</div>

		<div class="row d-flex align-items-center my-3 ">
			<div class="col-2">
				<img src="logo_forum.jpg" alt="logo_forum" width="100" height="100">
			</div>
			<div class="col-10 fs-2 text-start">
				Forum d'entraide des stagiaires de l'AFPA.<br>
				Bienvenue sur le forum des stagiaires des centres afpa du france.
			</div>
		</div>
		{% if app.user %}
			<div class="row border border-primary border-2 rounded-top">
				<div class="row">
					<div class="col-6  text-light text-start bg-dark bg-gradient">
						<i class="fa-solid fa-folder"></i>
						Sous forums
					</div>
					<div class="col-2  text-light text-end  bg-dark bg-gradient"></div>
					<div class="col-2  text-light text-end  bg-dark bg-gradient">Messages</div>
					<div class="col-2  text-light text-center  bg-dark bg-gradient">Date</div>
					{% for subcategory in subCategories %}
						{% if subcategory.parent.id == category.parent.id %}
							<div class="col-6 text-start border-bottom">
								<i class="fa-solid fa-folder"></i>
								{{subcategory.name}}
							</div>
							<div class="col-2 border-bottom">
								<i class="fa-solid fa-star" style="color:gold;"></i>
								<i class="fa-solid fa-star" style="color:gold;"></i>
								<i class="fa-solid fa-star" style="color:gold;"></i>
								<i class="fa-solid fa-star" style="color:gold;"></i>
								<i class="fa-regular fa-star" style="color:gold;"></i>
								<i class="fa-solid fa-paperclip"></i>
							</div>
							<div class="col-2 text-end border-bottom">
								{% set break = false %}
								{% for forum in allforums %}
									{% if forum.category == subcategory.id %}
										{% if not break %}
											{{forum.nb}}
											{% set break = true %}
										{% endif %}
									{% endif %}
								{% endfor %} 
							</div>
							<div class="col-2 text-end border-bottom">
								{{subcategory.createdAt | date('d/m/Y')}}
							</div>
						{% endif %}
					{% endfor %} 
				</div>
			</div>

			<div class="p-2 my-2 text-end">
				<button type="button" class="btn btn-dark text-start" data-bs-toggle="collapse" data-bs-target="#frm">Ajouter un nouveau sujet
					<i class="bi bi-plus-circle-fill"></i>
				</button>
			</div>
			<div
				class="row border collapse my-2" id="frm">
					{# templates/task/new.html.twig #}
					{{ form_start(categoryform) }}
					{{ form_widget(categoryform) }}
						<div class="mb-3">
							<label for="message" class="form-label">Message</label>
							<textarea class="form-control" id="message" name="message" rows="3"></textarea>
						</div>
						<div class="col-12">
							<button class="btn btn-primary" type="submit">Ajouter</button>
						</div>
					{{ form_end(categoryform) }}
			</div>
			<div class="row border border-primary border-2 rounded-top">
				<div class="row">
					<div class="col-6  text-light text-start bg-dark bg-gradient">
						Sujet / Auteur</div>
					<div class="col-2  text-light text-end  bg-dark bg-gradient"></div>
					<div class="col-2  text-light text-end  bg-dark bg-gradient">Réponses</div>
					<div class="col-2  text-light text-center  bg-dark bg-gradient">Dernier message</div>
				</div>
				<div class="row">
					{% for forum in allforums %}
						{% if forum.category ==  category.id %}
							<div class="col-6 text-dark text-start border-bottom">
								<div class="row">
									<div class="col-3">
										<i class="bi bi-person-circle"></i>
										{{forum.prenom}}
									</div>
									<div class="col">
										{{forum.titre}}
									</div>
								</div>
							</div>
							<div class="col-2  text-dark text-end border-bottom"></div>
							<div class="col-2  text-dark text-end border-bottom">{{forum.nb}}</div>
							<div class="col-2  text-dark text-center border-bottom">
							{% set break = false %}
							{% for lsMsg in lastMessages %}
								{% if lsMsg.forum.id == forum.forum %}
									{% if not break %}
										{{lsMsg.content}}
										{% set break = true %}									
									{% endif %}
								{% endif %}
							{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% else %}
			{# TODO : afficher un message d'erreur ou information de connexion !#}
		{% endif %}
	</section>

{% endblock %}
